<question>
    <h2>{{quiz.quizContent[quiz.questNum].question}}</h2>
    <ul>
        <li ng-repeat="answer in quiz.quizContent[quiz.questNum].answers">
            <label>
                <input type="radio" name="q_{{quiz.questNum + 1}}" value="question_{{quiz.questNum + 1}}_answers_{{$index + 1}}" ng-model="quiz.submittedAnswer" ng-disabled="quiz.nextBtnDisplay">
                {{answer}}
            </label>
        </li>
    </ul>
</question>

<button class="btn-default btn submit-btn" ng-click="quiz.submitAnswer()" ng-disabled="!quiz.submittedAnswer">Submit my answer!</button>

<feedback ng-show="quiz.feedbackDisplay">
    <h4 class="{{quiz.answerStatusClass}}">{{feedback}}</h4>
</feedback>
<button ng-click="quiz.nextQuestion()" class="next-btn btn btn-default pull-right" ng-show="quiz.nextBtnDisplay">Next Question...</button>