<question>
    <h2>{{quizContent[questNum].question}}</h2>
    <ul>
        <li ng-repeat="answer in quizContent[questNum].answers">
            <label>
                <input type="radio" name="q_{{questNum + 1}}" value="{{$index + 1}}" ng-model="data.submittedAnswer" ng-disabled="submitted">
                {{answer}}
            </label>
        </li>
    </ul>
</question>
<button class="btn-default btn submit-btn" ng-click="submitAnswer(quizContent[questNum].correctAnswer)" ng-disabled="!data.submittedAnswer">Submit my answer!</button>

<feedback ng-show="submitted">
    <!--TODO: remove css class name strings from JS -->
    <h4 class="{{valid && 'bg-success' || 'bg-danger'}}">{{feedback}}</h4>
</feedback>
<button ng-click="nextQuestion(questNum)" class="next-btn btn btn-default pull-right" ng-show="displayNextBtn">Next Question...</button>
