<question>
    <h2>{{quizContent[questNum].question}}</h2>
    <ul>
        <li ng-repeat="answer in quizContent[questNum].answers">
            <label>
                <input type="radio" name="q_{{questNum + 1}}" value="question_{{questNum + 1}}_answers_{{$index + 1}}" ng-model="quizData.submittedAnswer" ng-disabled="nextBtnDisplay">
                {{answer}}
            </label>
        </li>
    </ul>
</question>

<button class="btn-default btn submit-btn" ng-click="submitAnswer()" ng-disabled="!quizData.submittedAnswer">Submit my answer!</button>

<feedback ng-show="feedbackDisplay">
    <h4 class="{{answerStatusClass}}">{{feedback}}</h4>
</feedback>
<button ng-click="nextQuestion()" class="next-btn btn btn-default pull-right" ng-show="nextBtnDisplay">Next Question...</button>