#this-should-not-be-here {
    border: 10px solid red;
}

body {

    color: $default-text-color;
    background-color: $body-bgcolor;

    /* remove Bootstrap's default grid padding */
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding: 0;
    }

    /* HTML5 custom elements */
    feedback,
    question {
        display: block;
    }

    em {
        font-style: italic;
    }

    feedback {
        h4 {
            padding: 10px;

            &.bg-danger {
                background-color: $error;
            }
        }
    }

    main {
        &.panel-default {
            margin-top: 50px;
            border-color: $border_1;

            button.next {
                float: right;
            }

            header {
                &.panel-heading {
                    background: $header-bgcolor;
                    border-color: $border_1;
                }

                h1 {
                    margin: 10px 0;
                }
            }
        }
    }

    .btn-default {
        &.submit-btn {
            background-color: $submit-btn-color;
            font-weight: bold;
            color: $white;
        }

        &.next-btn {
            background-color: $next-btn-color;
            font-weight: bold;
            color: $white;
        }

        &.try-again {
            background: $body-bgcolor;
            color: $white;

            &:hover {
                background: $header-bgcolor;
                color: $body-bgcolor;
                }
            }
        }
}
