$default-text-color: #333;
$body-bgcolor: #244a68;
$header-bgcolor: #7bc18a;
$highlight: #b46888;
$error: #d64c41;
$submit-btn-color: $highlight;
$next-btn-color: #32654e;
$white: #fff;
$border_1: #fff;